%h1= report.class.name.titleize

%table
  %thead
    %tr
      - report.results.headers.each do |header|
        %th= Dossier::Formatter.titleize(header)
  %tbody
    - report.results.body.each do |row|
      %tr
        - row.each do |value|
          %td= value

  - if report.results.footers.any?
    %tfoot
      - report.results.footers.each do |row|
        %tr
          - row.each do |value|
            %th= value

= link_to 'Download CSV', dossier_report_path(:format => 'csv', :options => params[:options]), :class => 'download-csv'
